*{
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    border: 0;
}

html{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16px;
}


/* utility */

.container{
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}

.pTop{
    padding-top: 4rem;
}

.rel{
    position: relative;
}




/* struct */
header{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    min-width: 910px;

    background-color: white;
}

header nav{
    list-style: none;

    line-height: 4rem;
    
}

header ul{
    width: 50%;

    font-size: 1rem;
    font-weight: 500;
    
}

header ul.right{
    text-align: right;
}

header li{
    display: inline-block;
    vertical-align: middle;

    margin-right: 1rem;
    margin-left: 1rem;
}

header a{
    text-decoration: none;

    color: black;

    line-height: normal;
}

header .logo{
    vertical-align: -7px;
}

.right li{
    text-align: right;
}

.bluBtn{

    display: inline-block;

    background-color: blue;
    color: white;

    padding: .5em 1em;

    text-decoration: none;
}

.hero{
    background-color: #b4d0e7;

    height: 100vh;
}

.hero .container.pTop{
    height: 100vh;
}

.hero .container{
    max-width: 1300px;

    margin-top: 4rem;
}

.hero h1{

    text-align: left;

    font-size: 6rem;
    font-weight: 600;
}

.hero .info{
    width: 35%;

    font-size: 1.2rem;
    line-height: 1.5rem;

    padding-right: 4rem;
}

.hero p{
    font-weight: 500;
}

.hero a{
    margin-top: 2rem;
}

.hero img{
    width: 65%;

    float: left;
}

.hero .clearfix.rel{
    top: 3rem;
}